html, body {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #910404dc;
    background-image: url('https://private-user-images.githubusercontent.com/122819248/300902435-985d9f1f-3447-43f9-b665-a453eb8a07cf.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDY2MzUxOTUsIm5iZiI6MTcwNjYzNDg5NSwicGF0aCI6Ii8xMjI4MTkyNDgvMzAwOTAyNDM1LTk4NWQ5ZjFmLTM0NDctNDNmOS1iNjY1LWE0NTNlYjhhMDdjZi5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwMTMwJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDEzMFQxNzE0NTVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1lNzBlZWZlOGZjZmUyNGQxOTIzN2U0MzExZjU2YWU5ZGM5MjI5ZDg2NDFiMzM4MGYwMGJhODJjNzJlNzcwNDkxJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.ICR-UMLf1QN4bB5G7drrkiMGfhzYlzvpTYm-PGWg9yE');
    background-size: 50% auto; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.instructions-content {
    font-family: Arial, sans-serif;
    display: none;
    color: #098a8f
}
.instructions-content p {
    font-size: 12px;
    line-height: 1.5; 
}
.instructions-content ol {
    margin-left: 20px;
}

.instructions-content li {
    font-size: 14px;
}
.instructions-toggle {
    cursor: pointer;
}
.info-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #35ce0ea6;
    cursor: pointer;
}

.info-icon:hover {
    color: #91a7a7;
}

h1 {
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

input {
    margin: 30px auto;
    padding: 8px 10px;
    border: none;
    outline: none;
}

button {

    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
    color: white;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2); 
}

.add_qs {
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

.info {
    text-align: center;
}

.info li {
    list-style-type: none;
    color: #fff;
}

.info button {
    margin: 30px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.qs_wrapper div {
    display: none;
    position: absolute;
}

.qs_wrapper div.is-active {
    display: block;
}

.q_div {
    margin: 30px auto;
    text-align: center;
    width: 100%;
}

.q_div li {
    list-style-type: none;
    color: #fff;
    padding: 12px 0;
}

.q_div li.correct, .q_div li.wrong {
    cursor: pointer;
}

.correct_ans_ct {
    color: #fff;
    text-align: center;
}

.next_button {
    margin: 30px auto;
}
